<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal">
            <fieldset>
                <fieldset>
                <div class="form-group">
                    <p class="col-md-2">ID: 1234</p>
                    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    <p class="col-md-2">Product Updated</p>
                    <p class="col-md-2">Error</p>
                </div>
                <div class="form-group">
                    <p class="col-md-2">ID: 1234</p>
                    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    <p class="col-md-2">Product Created</p>
                    <p class="col-md-2">Error</p>
                </div>
                <div class="form-group">
                    <p class="col-md-2">ID: 1234</p>
                    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    <p class="col-md-2">Product Deleted</p>
                    <p class="col-md-2">Error</p>
                </div>
                <div class="form-group">
                    <p class="col-md-2">ID: 1234</p>
                    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    <p class="col-md-2">Order Created</p>
                    <p class="col-md-2">Error</p>
                </div>
                <div class="form-group">
                    <p class="col-md-2">ID: 1234</p>
                    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    <p class="col-md-2">Order Updated</p>
                    <p class="col-md-2">Error</p>
                </div>
                <div class="form-group">
                    <p class="col-md-2">ID: 1234</p>
                    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    <p class="col-md-2">Order Cancelled</p>
                    <p class="col-md-2">Error</p>
                </div>
            </fieldset>
            </fieldset>
        </div>
    </div>
</div>