<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal" *ngIf="Logs">
            <div class="form-group" style="font-weight: bold">
                <p class="col-md-1">id</p>
                <p class="col-md-1">pid</p>
                <p class="col-md-1">tgid</p>
                <p class="col-md-2">sku</p>
                <p class="col-md-4">message</p>
                <p class="col-md-2">type</p>
                <p class="col-md-1">status</p>
            </div>
            <fieldset *ngFor="let log of Logs">
                <div class="form-group">
                    <p class="col-md-1">{{ log.product_id }}</p>
                    <p class="col-md-1">{{ log.parent_id }}</p>
                    <p class="col-md-1">{{ log.tradegecko_id }}</p>
                    <p class="col-md-2">{{ log.sku }}</p>
                    <p class="col-md-4">{{ log.message }}</p>
                    <p class="col-md-2">{{ log.type }}</p>
                    <p class="col-md-1">{{ log.status }}</p>
                </div>
                
            </fieldset>
        </div>
    </div>
    <div class="panel-footer">
        <nav *ngIf="Pagination">
            <ul class="pagination">
                <li class="page-item" *ngIf="Pagination.previous">
                    <a class="on-action" (click)="paginate(Pagination.previous)">previous</a>
                </li>
                <!--li class="page-item"><a class="page-link on-action" href="#">1</a></li>
                <li class="page-item"><a class="page-link on-action" href="#">2</a></li>
                <li class="page-item"><a class="page-link on-action" href="#">3</a></li-->
                <li class="page-item" *ngIf="Pagination.next">
                    <a class="on-action" (click)="paginate(Pagination.next)">next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>