<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal">
            <fieldset *ngIf="entry_detail">
                <div class="form-group" *ngIf="(!entry_detail.shopify_token && entry_detail.cms=='shopify') || (!entry_detail.secret && entry_detail.cms=='woocommerce') || !entry_detail.cms">
                    <label class="col-md-3 control-label">Choose CMS</label>
                    <div class="col-md-9 choose-cms">
                        <img [ngClass]="{'active' : entry_detail.cms == 'woocommerce'}"
                             (click)="selectCms('woocommerce')" 
                             src="http://24dlmn2bqamt1e72kah59881-wpengine.netdna-ssl.com/wp-content/uploads/2016/04/woocommerce-logo-e1429552613105.png" />
                        
                        <img [ngClass]="{'active' : entry_detail.cms == 'shopify'}"
                             (click)="selectCms('shopify')" 
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Shopify_logo_2018.svg/1024px-Shopify_logo_2018.svg.png" />
                    </div>
                </div>

                <div *ngIf="entry_detail.cms == 'woocommerce'" class="woocommerce">
                    <div class="form-group" *ngIf="entry_detail.key">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <p>
                                This option will import all active products from vapehq into your
                                woocommerce website. Prices are defaulted to Dropshipper retail price, yet 
                                you can change it afterwards if you like so.
                            </p>
                            <button type="submit" class="btn btn-warning btn-md pull-left" 
                            (click)="importVapeHQProducts()">
                                Import products to wordpress</button >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Site URL:</label>
                        <div class="col-md-9">
                            <input name="name" [(ngModel)]="entry_detail.name" type="text"class="form-control">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="entry_detail.key">
                        <label class="col-md-3 control-label">Options</label>
                        <div class="col-md-9 checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="entry_detail.product_publish">Publish new product from VapeHQ (default is Draft)
                            </label><br><br>
                            <label>
                                <input type="checkbox" [(ngModel)]="entry_detail.order_unpush">Donot push order to VapeHQ (default new orders are push to VapeHQ)</label><br><br>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label class="col-md-3 control-label">Key:</label>
                        <div class="col-md-9">
                            <input name="name" type="text" [(ngModel)]="entry_detail.key" disabled placeholder="Enter Woocoomece Keys" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Secret:</label>
                        <div class="col-md-9">
                            <input name="name" type="text" [(ngModel)]="entry_detail.secret" disabled placeholder="Enter Woocommerce Secret" class="form-control">
                        </div>
                    </div-->
                    <div class="form-group" *ngIf="entry_detail.key">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 widget-right">
                            <button type="submit" class="btn btn-primary btn-md pull" (click)="saveChanges()">
                                Save</button >
                            <button type="submit" class="btn btn-primary btn-md pull-right"  (click)="uninstall()">
                                Uninstall from Woocommerce</button >
                        </div>
                    </div>
                    <div class="form-group" *ngIf="!entry_detail.key">
                        <div class="col-md-12 widget-right">
                            <button type="submit" class="btn btn-primary btn-md pull-right"  (click)="installWoocommerce()">Install to Woocommerce</button >
                        </div>
                    </div>
                </div>



                <div *ngIf="entry_detail.cms == 'shopify'" class="shopify">
                    <div class="form-group" *ngIf="entry_detail.shopify_token">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <p>
                                This option will import all active products from vapehq into your
                                shopify website. Prices are defaulted to Dropshipper retail price, yet 
                                you can change it afterwards if you like so.
                            </p>
                            <button type="submit" class="btn btn-warning btn-md pull-left" 
                            (click)="importVapeHQProducts()">
                                Import products to shopify</button >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Site URL:</label>
                        <div class="col-md-9">
                            <input name="name" [(ngModel)]="entry_detail.name" type="text"class="form-control">
                        </div>
                    </div>

                    <!--div class="form-group">
                        <label class="col-md-3 control-label">Code:</label>
                        <div class="col-md-9">
                            <input name="name" type="text" [(ngModel)]="entry_detail.shopify_code" disabled placeholder="Generated Code:" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Token:</label>
                        <div class="col-md-9">
                            <input name="name" type="text" [(ngModel)]="entry_detail.shopify_token" disabled placeholder="Generated Token:" class="form-control">
                        </div>
                    </div-->

                    <div class="form-group" *ngIf="entry_detail.shopify_token">
                        <label class="col-md-3 control-label">Options</label>
                        <div class="col-md-9 checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="entry_detail.product_publish">Publish new product from VapeHQ (default is Draft)
                            </label><br><br>
                            <label>
                                <input type="checkbox" [(ngModel)]="entry_detail.order_unpush">Donot push order to VapeHQ (default new orders are push to VapeHQ)</label><br><br>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-9 pull-right" *ngIf="entry_detail.shopify_token">
                            <button type="submit" class="btn btn-primary btn-md pull" (click)="saveChanges()">
                                Save</button >
                            <button type="submit" class="btn btn-primary btn-md pull-right" (click)="uninstallShopify()">
                                Uninstall from Shopify</button >
                        </div>
                        <div class="col-md-9 pull-right" *ngIf="!entry_detail.shopify_token">
                            <button type="submit" class="btn btn-primary btn-md pull-right"  (click)="installShopify()">
                                Install to Shopify</button >
                        </div>
                    </div>
                </div>
                    
            </fieldset>
        </div>
    </div>
</div>