<products></products>

<div class="col-md-12 overlap-panel wrap-panel">
    <div class="panel panel-primary col-md-10 pull-right overlap-panel">
        <div class="panel-heading">
            <span [routerLink]="['/admin/product']" class="pull-left clickable panel-toggle">
                <em class="fa fa-remove"></em>
            </span>
            <span class="pull-right">
                <button type="submit" [routerLink]="['/admin/product', product_id, 'e', entry_id]"
                    [ngClass]="{'active': entry_route === 'settings' }"  
                    class="btn btn-warning btn-md">Settings</button > &nbsp;

                <!--button type="submit" [routerLink]="['/admin/product', product_id, 'e', entry_id, 'logs']"
                    [ngClass]="{'active': entry_route === 'logs' }" 
                    class="btn btn-warning btn-md">Logs</button > &nbsp;

                <!--button type="submit" [routerLink]="['/admin/product', product_id, 'e', entry_id, 'errors']"
                    [ngClass]="{'active': entry_route === 'errors' }" 
                    class="btn btn-warning btn-md">Errors</button > &nbsp; -->
            </span>
        </div>
        <div class="panel-body">

            <product-entry-settings *ngIf="entry_route == 'settings'" 
                [settings]="settings"></product-entry-settings>

            <product-entry-logs *ngIf="entry_route == 'logs'"></product-entry-logs>

            <product-entry-errors *ngIf="entry_route == 'errors'" ></product-entry-errors>

        </div>
    </div>
</div>