<products></products>

<div class="col-md-12 overlap-panel wrap-panel">
    <div class="panel panel-primary col-md-10 pull-right overlap-panel">
        <div class="panel-heading">
            <span [routerLink]="['/admin/product']" class="pull-left clickable panel-toggle">
                <em class="fa fa-remove"></em>
            </span>
           <span class="pull-right">Edit Product Setting</span>
        </div>
        <div class="panel-body">


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <fieldset>
                            <div class="col-md-7">
                                <!--div class="form-group">
                                    <label class="col-md-3 control-label">TG Token</label>
                                    <div class="col-md-9">
                                        <input  type="text"class="form-control" [(ngModel)]="detail.tradegecko_token"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hook Stock </label>
                                    <div class="col-md-9">
                                        <input  type="text" placeholder="Enter URL:" class="form-control" [(ngModel)]="detail.hook_stockupdate"> <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hook Order </label>
                                    <div class="col-md-9">
                                        <input  type="text" placeholder="Enter URL:" class="form-control" [(ngModel)]="detail.hook_createupdate_order"/> 
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Woo Callback</label>
                                    <div class="col-md-9">
                                        <input  type="text" placeholder="Enter URL:" class="form-control" [(ngModel)]="detail.woo_callback_url"/> 
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Shopify AppId</label>
                                    <div class="col-md-9">
                                        <input  type="text" placeholder="Enter URL:" class="form-control" [(ngModel)]="detail.sho_appid"/> 
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Shopify Callback</label>
                                    <div class="col-md-9">
                                        <input  type="text" placeholder="Enter URL:" class="form-control" [(ngModel)]="detail.sho_callback_url"/> 
                                        <br />
                                    </div>
                                </div-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Order Prefix</label>
                                    <div class="col-md-9">
                                        <input  type="text" class="form-control" [(ngModel)]="detail.order_prefix"/> 
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TG Company Id </label>
                                    <div class="col-md-9">
                                        <input  type="text" class="form-control" [(ngModel)]="detail.order_company_id"/> 
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TG Billing ID </label>
                                    <div class="col-md-9">
                                        <input  type="text" class="form-control" [(ngModel)]="detail.billing_address_id"/> 
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">TG Shipping ID </label>
                                    <div class="col-md-9">
                                        <input  type="text" class="form-control" [(ngModel)]="detail.shipping_address_id"/> 
                                        <br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="pull-right btn btn-primary"
                                            (click)="save()">
                                            Save</button >
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-warning"
                                            (click)="generateTradegeckoWebhooks()">
                                            Generate Tradegecko Webhooks</button >
                                    </div>
                                </div>
                                <fieldset *ngIf="tradegeckoWebhooks.length > 0">
                                    <label>Tradegecko Generated Webhooks</label> <br />
                                    <span *ngFor="let webhook of tradegeckoWebhooks">
                                        <span>
                                            Event: {{ webhook.event }} <br />
                                            Address: {{ webhook.address }} <br /><br />
                                        </span>
                                    </span>
                                    <button class="btn btn-warning" (click)="deleteTradegeckoWebhooks()">
                                        Destroy Tradegecko Webhooks</button >
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>