.todo-list {
    margin: 0;
}
.overlap-panel {
	position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    padding: 0;
    height: 100%;
    box-shadow: 0px 0px 16px -3px #131313;
    overflow-y: scroll;
    border-radius: 0;
}
.overlap-panel.wrap-panel {
	background: #0000006e;
}
.progress { height: 40px; }
.btn.btn-warning.btn-md.active {
    background: #ff5722;
    border-color: #ff5722;
}

.on-action { cursor: pointer; }

nav { text-align:center; }

.col-md-9.choose-cms {
    margin-bottom: 30px; 
}
.choose-cms img { 
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(1);
}
.choose-cms img:hover, .choose-cms img.active { 
    opacity: 1;
    filter: grayscale(0);
}

/*nav ul.pagination > li > a { width: 50px; }
nav ul.pagination > li:first-child > a, ul.pagination > li:last-child > a { width: 100px; }*/