<header-component></header-component>

<sidebar-component [menus]="menus"></sidebar-component>
    
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    <a href="#"><em class="fa fa-home"></em></a>
                </li>
                <li class="active">Products</li>
            </ol>
            <h1 class="page-header">Products</h1>
            <div class="panel panel-default" *ngFor="let product of products;">
                <div class="panel-heading">
                    {{ product.name }}
                    <ul class="pull-right panel-settings panel-button-tab-right">
                        <li class="dropdown">
                            <a class="pull-right dropdown-toggle" [routerLink]="[product._id, 'edit']">
                                <em class="fa fa-cogs"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p>{{ product.description }}</p>
                    <ul class="todo-list" *ngIf="productEntries">
                        <li class="todo-list-item" *ngFor="let entry of productEntries">
                            <div class="checkbox">
                                <em class="fa fa-trash on-action" 
                                    (click)="productEntryDelete(product._id, entry._id)"></em> &nbsp; {{ entry.name }}
                            </div>
                            <div class="pull-right action-buttons">
                                <a class="on-action" [routerLink]="[product._id, 'e', entry._id]">
                                    setup</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input [(ngModel)]="newProductEntry" 
                            type="text" class="form-control" placeholder="Add New Site" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" (click)="productEntryAdd(product._id)">Add Site</button>
                        </span>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
        
        
        <div class="col-md-4">
            <app-timeline></app-timeline>
        </div>
        <div class="col-sm-12">
            <p class="back-link">VAPE HQ</p>
        </div>
    </div><!--/.row-->
</div>