<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">{{ currentUser.text }}</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>

    <ul class="nav menu">
        <li *ngFor="let menu of menus" [ngClass]="(menu.active)?'active':''">
            <a [routerLink]="[menu.route]">
                <em class="fa {{menu.icon}}">&nbsp;</em> {{menu.title}}
            </a>
        </li>
        <li>
            <a style="cursor:pointer;" (click)="userLogout()">
                <em class="fa fa-power-off">&nbsp;</em> Logout
            </a>
        </li>
    </ul>
</div>