<form id="inbox-subscription" class="inbox-form" action="https://joinbox.today/form/5fffdc395f36e300011b52cb/6035a67ef38fc10001d6620d" method="post">
	<input class="inbox-input email" name="email" type="email" />
	<input class="inbox-input" name="cf_5fffdc4203ae900001dc1d0e" required type="text" />
	<input class="inbox-input" name="cf_0" type="email" required/>
	<button class="inbox-input" type="submit">Subscribe</button>
	<span id="inbox-response"></span>
</form>
<script type="text/javascript">
	jQuery(document).ready(function($){
		$("#inbox-subscription").submit(function(e){
			e.preventDefault();
			
			let email = $(this).children('input[name="email"]').val();
				if( email && email.length > 2) { return; }

			
			let name = $(this).children('input[name="cf_5fffdc4203ae900001dc1d0e"]').val()
			
			email = $(this).children('input[name="cf_0"]').val();
			
			data = {
				cf_5fffdc4203ae900001dc1d0e: name,
				cf_0 :  email
			}
			
			$("#inbox-response").text("You have successfully subscribe!");
			$.post( "https://joinbox.today/form/5fffdc395f36e300011b52cb/6035a67ef38fc10001d6620d", data, function( response ) { console.log( response );
			});
		});
	});
</script>


form.inbox-form input.inbox-input.email { display:none !Important; }
span.inbox-response {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px !important;
    padding: 10px !important;
}

<!--/*
$.ajax({
				type: "POST",
				url: "https://joinbox.today/form/5fffdc395f36e300011b52cb/6035a67ef38fc10001d6620d",
				data: data,
				success: function( response ) {
					console.log( response );
				},
				dataType: "jsonp"
			});*/-->