.notification.overlay {
    width: 100%;
    height: 100vh;
    background: #1f1f1f42;
    z-index: 9999 !important;
    position: fixed;
    top:0;
}
.notification.overlay .content {
    width: 300px;
    max-width: 100%;
    margin: auto;
    position: relative;
    background: #545454;
    top: 25vh;
    padding: 15px;
    border-radius: 5px;
}
.notification.overlay .content * {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}