	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

			<div class="login-panel panel panel-default" *ngIf="!login">
				<div class="panel-heading">Register</div>
				<div class="panel-body">
					<fieldset>
						<div class="form-group">
							<input class="form-control" [(ngModel)]="details.email">
							<div *ngIf="errors.email && submitted"class="alert alert-danger">
								{{ errors.email }}
					        </div>
						</div>
						<div class="form-group">
							<input class="form-control" 
							placeholder="Password" type="password"
							[(ngModel)]="details.password" />
							<div *ngIf="errors.password && submitted"class="alert alert-danger">
								{{ errors.password }}
					        </div>
						</div>
						<div class="form-group">
							<input class="form-control"
							placeholder="Confirm Password" type="password" 
							[(ngModel)]="details.confirmpassword" />
						</div>
						<div class="form-group">
							<button class="btn btn-primary" (click)="registerUser()">Register</button> | 
							<a href="/register/login">Login</a>
						</div>
						<div class="form-group">
							<div *ngIf="message && submitted" class="alert alert-success">
								{{ message }}
					        </div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="login-panel panel panel-default" *ngIf="login">
				<div class="panel-heading">Login</div>
				<div class="panel-body">
					<fieldset>
						<div class="form-group">
							<input class="form-control" [(ngModel)]="details.email">
						</div>
						<div class="form-group">
							<input class="form-control" 
							placeholder="Password" type="password"
							[(ngModel)]="details.password" />
						</div>
						<div class="form-group">
							<button class="btn btn-primary" (click)="loginUser()">Login</button>
							 | <a href="/register">Register</a>
						</div>
						<div class="form-group">
							<div *ngIf="errors.email && submitted"class="alert alert-danger">
								{{ errors.email }}
					        </div>
							<div *ngIf="message && submitted" class="alert alert-success">
								{{ message }}
					        </div>
						</div>
					</fieldset>
				</div>
			</div>

		</div>
	</div>
	