<header-component></header-component>

<sidebar-component></sidebar-component>
    
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
                <li class="active">Dashboard</li>
            </ol>
            <h1 class="page-header">Dashboard</h1>
        </div><!--/.col-->
        
        
        <div class="col-md-4">
            <app-timeline></app-timeline>
        </div>
        <div class="col-sm-12">
            <p class="back-link">VAPE HQ</p>
        </div>
    </div><!--/.row-->
</div>

