<user></user>

<div class="col-md-12 overlap-panel wrap-panel">
    <div class="panel panel-primary col-md-10 pull-right overlap-panel">
        <div class="panel-heading">
            <span [routerLink]="['/admin/user']" class="pull-left clickable panel-toggle">
                <em class="fa fa-remove"></em>
            </span>
           <span class="pull-right">Edit User</span>
        </div>
        <div class="panel-body">

			<div class="panel panel-default">
			    <div class="panel-body">
			        <div class="form-horizontal">
			            <fieldset>
			                
			                <div class="form-group">
			                    <label class="col-md-3 control-label">First Name</label>
			                    <div class="col-md-9">
			                        <input name="name"type="text"class="form-control">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-md-3 control-label">Last Name</label>
			                    <div class="col-md-9">
			                        <input name="name"type="text"class="form-control">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-md-3 control-label">Email</label>
			                    <div class="col-md-9">
			                        <input name="name"type="text"class="form-control">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-md-3 control-label">Roles</label>
			                    <div class="col-md-9">
			                        <input name="name"type="text"class="form-control">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <div class="col-md-12 widget-right">
			                        <button type="submit" class="btn btn-primary btn-md pull-right" >
			                            Save</button >
			                    </div>
			                </div>
			            </fieldset>
			        </div>
			    </div>
			</div>

    </div>
</div>
