a, .fa-trash, .fa-edit { cursor: pointer; }
.overlap-panel {
	position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    padding: 0;
    height: 100%;
    box-shadow: 0px 0px 16px -3px #131313;
    overflow-y: scroll;
    border-radius: 0;
}
.overlap-panel.wrap-panel {
	background: #0000006e;
}