<header-component></header-component>

<sidebar-component [menus]="menus"></sidebar-component>
    
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    <a href="#"><em class="fa fa-home"></em></a>
                </li>
                <li class="active">Users</li>
            </ol>
            <h1 class="page-header">Users</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <a>Administrators</a> | <a>Moderators</a> | <a>Users</a> 
                    </p>
                </div>
                <div class="panel-body">
                    <ul class="todo-list">
                        <li class="todo-list-item" *ngFor="let user of users">
                            <div class="checkbox">
                                <em class="fa fa-trash on-action" (click)="removeUser(user._id)"></em> &nbsp; 
                                <em class="fa fa-edit"></em> &nbsp; 
                                {{ user.email }} | {{ user.status }} | {{ user.roles }}
                            </div>
                            <div class="pull-right action-buttons">
                                <a class="on-action" (click)="approveUser(user._id)">approve</a> &nbsp;
                                <a class="on-action" (click)="declineUser(user._id)">decline</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/.col-->
        
        
        <div class="col-md-4">
            <app-timeline></app-timeline>
        </div>
        <div class="col-sm-12">
            <p class="back-link">VAPE HQ</p>
        </div>
    </div><!--/.row-->
</div>