<div class="panel panel-default ">
    <div class="panel-heading">
        Timeline
    </div>
    <div class="panel-body timeline-container">
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>