<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">Registration</div>
			<div class="panel-body">
				<fieldset>
					<div class="form-group">
						<input class="form-control" 
								placeholder="E-mail" required
      							[(ngModel)]="registration.email" type="email" autofocus="">
					</div>
					<div class="form-group">
						<input class="form-control" 
							placeholder="Password"  
							[(ngModel)]="registration.password" type="password" value="">
					</div>
					<div class="checkbox">
						<a class="btn btn-primary" (click)="signup()">Register</a>
					</div>
				</fieldset>
				<div *ngIf="message" >
					<hr />
					<p class="alert alert-warning" role="alert">
						{{ message }}
					</p>
				</div>
			</div>
		</div>
	</div><!-- /.col-->
</div><!-- /.row -->